@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
        format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
  }

.header h1{
    font-family: "ColfaxAI", Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.clearButtonContainer {
    position: fixed;
    bottom: 80px; /* This value might need to be adjusted based on the height of your text input form and any desired spacing. */
    left: 50%;
    transform: translateX(-50%); /* Center the button horizontally */
    z-index: 10; /* Ensure it appears above other content */
  }


.userInfoSection {
    display: flex; /* Using flexbox to align items horizontally */
    align-items: center; /* Center items vertically */
    gap: 15px; /* Spacing between each item */
  }
  

.profilePicture {
    width: 40px;   /* Adjust this value as needed */
    height: 40px;  /* Adjust this value as needed */
    object-fit: cover; /* To ensure the image covers the whole area without distortion */
}

.userMessage{
    background-color: #e6f7ff;
    color: #0070f3;
}

.loginPageImage {
    width: auto; 
    height: 150px;  /* Adjust this value based on your preference */
    margin-bottom: 20px;  /* Space between the image and the disclaimer */
}

.disclaimer {
    background-color: #f2f2f2; /* Light grey background */
    border: 1px solid #e0e0e0; /* Border for the disclaimer */
    padding: 15px;             /* Padding around the text */
    margin: 10px 0;            /* Margin around the disclaimer div */
    border-radius: 5px;        /* Rounded corners */
    font-size: 14px;           /* Font size of the disclaimer text */
    line-height: 1.5;          /* Spacing between lines of text */
}